<div id="collection">
  <div class="flex">
    <div class="flex-1 pb-2">
      <%= form_for @collection do |f| %>
        <%= f.text_field(
          :name,
          class: "text-xl rounded-md dark:bg-secondary-900",
          value: @collection.name,
          placeholder: "name",
          onchange: "this.form.submit()"
        )%>
        <%= f.submit "Update", hidden: true %>
      <% end %>
    </div>
  </div>

  <div class="container flex flex-col rounded-lg flex-start">
    <div id="documents">
      <%= render @collection.documents.order(:created_at) %>
    </div>

    <%= render "documents/form" %>
  </div>
</div>
