<div id="collection">
  <div class="flex">
    <div class="flex-1 pb-2">
      <%= form_for @collection do |f| %>
        <%= f.text_field(
          :name,
          class: "text-xl rounded-md dark:bg-secondary-900",
          value: @collection.name,
          placeholder: "name",
          onchange: "this.form.submit()"
        )%>
        <%= f.submit "Update", hidden: true %>
      <% end %>
    </div>
  </div>

  <div class="flex flex-col items-center py-4 w-full">
    <div class="w-3/4">
      <div class="container flex flex-col flex-start">
        <div class="py-4">
          <%= render "search_form" %>
        </div>
        <div id="<%= dom_id(@collection) %>-documents">
          <% @collection.documents.order(:created_at).each do |document| %>
            <%= render "shared/document", document: %>
          <% end %>
        </div>

        <%= render "documents/form" %>
      </div>
    </div>
  </div>
</div>
