<div id="<%= dom_id(@collection) %>" class="flex flex-col h-full">
  <div class="flex">
    <div class="flex-1 pb-2">
      <div class="flex justify-center items-center">
        <%= form_for @collection do |f| %>
          <%= f.text_field(
            :name,
            class: "rounded-md bg-secondary-50 dark:bg-secondary-800",
            value: @collection.name,
            placeholder: "name",
            onchange: "this.form.requestSubmit()"
          )%>
          <%
            if @collection.documents.any?
              classes = "rounded-lg text-secondary-950 bg-secondary-200 dark:text-secondary-200 dark:bg-secondary-700 mr-2"
              disabled = true
            else
              classes = "rounded-lg text-secondary-950 bg-secondary-300 dark:text-secondary-200 dark:bg-secondary-800 mr-2"
              disabled = false
            end
          %>
          <%= f.submit "Update", hidden: true %>
        <% end %>
        <% if @collection.graphed? %>
          <div class="mx-2">
            <div class="w-12 h-10 p-2 bg-secondary-500 dark:bg-secondary-800 rounded-md">
              <%= render "shared/icons/graph" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="flex-1 flex flex-col items-center py-4 w-full">
    <div class="flex-1 flex flex-col flex-start w-3/4">
      <div class="py-4">
        <%= render "search_form", query: "" %>
      </div>
      <div id="<%= dom_id(@collection) %>-documents" class="flex-1">
        <% @collection.documents.order(:created_at).each do |document| %>
          <%= render "shared/document", document: %>
        <% end %>
      </div>

      <%= render "documents/form" %>
    </div>
  </div>
</div>
