<% document ||= @document %>

<%= content_tag :div,
  id: dom_id(document),
  class: "flex justify-start items-start p-8 my-4 rounded-lg shadow-lg bg-secondary-200 dark:bg-secondary-900" do
%>
  <div class="flex-1 whitespace-prewrap">
    <div class="flex flex-col">
      <div class="flex-1">
        <div class="flex items-baseline">
          <div class="pb-4 mr-2">
            <!-- TODO fix after we finalize how to show parents vs children -->
            <% if document.parent %>
              <%= fa_icon "arrow-circle-down" %>
            <% end %>            
            <%= link_to title_for(document), collection_document_path(document.collection, document), format: :turbo_stream %>
          </div>
          <%= render "shared/document_state_badges", document: %>
        </div>
      </div>
      <!-- TODO fix after we finalize how to show parents vs children -->
      <!--      document with children will have no chunks -->
      <% if document.no_children? %>
      <div class="flex">
        <%= link_to "View", collection_document_path(document.collection, document), class: "rounded-lg bg-secondary-700 dark:bg-secondary-400 text-secondary-100 dark:text-secondary-900 py-1 px-4 disabled:bg-opacity-40 mr-2" %>
        <%= button_to "Reprocess", collection_document_vectorize_path(document.collection, document), class: "rounded-lg px-4 py-1 text-center text-white align-baseline dark:text-secondary-950 block font-medium bg-secondary-700 dark:bg-secondary-400 mr-2" %>
        <% if document.stop_jobs %>
          <%= button_to "Enable jobs", collection_document_start_path(document.collection, document), class: "rounded-lg px-4 py-1 text-center text-white align-baseline dark:text-secondary-950 block font-medium bg-secondary-700 dark:bg-secondary-400" %>
        <% else %>
          <%= button_to "Disable jobs", collection_document_stop_path(document.collection, document), class: "rounded-lg px-4 py-1 text-center text-white align-baseline dark:text-secondary-950 block font-medium bg-secondary-700 dark:bg-secondary-400" %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="flex flex-col ms-4">
    <p class="py-1 text-xs text-right"><%= document.user.email %></p>
    <p class="py-1 text-xs text-right"><%= time_ago_in_words(document.created_at) %> ago</p>
    <div class="flex-none mx-1 text-right">
      <%= button_to collection_document_path(document.collection, document), method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}} do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>
  </div>
<% end %>
