<div id="<%= user_dom_id("global_search_form") %>">
  <%= form_with url: search_collections_path do |f| %>
    <div class="container flex flex-1 my-2">
      <%= f.text_field :query,
        placeholder: "Search your documents...",
        class: "rounded-md dark:bg-secondary-925 w-full flex-1",
        hidden: false,
        value: query,
        data: { controller: "submit", "submit-target": "input" },
        autocomplete: "off",
        autofocus: true

      %>
        <%= link_to "Clear", collections_path, class: "rounded-lg px-4 py-2 text-center text-secondary-950 align-baseline dark:text-secondary-100 block font-medium border border-secondary-700 dark:border-secondary-400 bg-secondary-200 dark:bg-secondary-700 hover:bg-secondary-300 hover:dark:bg-secondary-500 ml-2" %>
        <%= f.submit "Search", class: "rounded-lg px-4 py-2 text-center text-secondary-100 dark:text-secondary-100 block font-medium bg-tertiary-600 dark:bg-tertiary-700 hover:bg-tertiary-800 hover:dark:bg-tertiary-400 ml-2 cursor-pointer" %>
    </div>
  <% end %>
</div>
