<div class="flex">
  <%= turbo_stream_from "collections" %>

  <% selected = @collection || @document&.collection || @chunk&.document&.collection %>
  <%= render "shared/collection_list", collections: @collections, selected: %>

  <%= render "shared/collection_area" do %>
    <%= render "shared/notice" %>

    <div class="m-2 h-full">
      <% if @chunks %>
        <%= render "shared/chunks", chunks: @chunks, selected_id: @chunk.id %>
      <% elsif @document %>
        <%= render @document %>
      <% elsif @collection %>
        <%= render @collection %>
      <% else %>
        <div class="flex flex-col h-full w-full items-center align-middle">
          <div class="flex flex-1 justify-center w-full items-center">
            <div class="w-3/4 py-5 px-6">
              <%= render "global_search_form", query: "" %>
              <%= render "global_search_results" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
