<%= content_tag :div, id: chunk ? dom_id(chunk) : "missing", class: "flex justify-start items-start px-6 py-5 my-2 rounded-lg border border-secondary-300 dark:border-secondary-900 hover:bg-secondary-200 hover:dark:bg-secondary-900 px-3 py-1 rounded-lg w-full" do %>
  <%= link_to collection_document_chunk_path(chunk.collection, chunk.document, chunk),
    class: "flex justify-start items-center rounded-lg w-full" do %>
  <div class="flex-1 whitespace-prewrap">
    <div class="flex flex-col">
      <div class="pb-4">Chunk #<%= chunk.id%></div>
      <div><%= chunk.excerpt %></div>
    </div>
    
  </div>
  <div class="flex flex-col ms-4 text-xs text-right text-muted py-2">
    <div class="py-1"><%= chunk ? chunk.document.filename : "?" %></div>
    <% if distance %>
      <div class="py-1">distance: <%= distance.round(1) %></div>
    <% end %>
    <div class="py-1"><%= chunk ? number_to_human_size(chunk.excerpt.size) : "?" %></div>
    <div class="py-1"><%= chunk ? time_ago_in_words(chunk.created_at) : "?" %> ago</div>
    <div class="py-1" class="p-4 text-right">
      <%= render "shared/copy_button", content: chunk.excerpt.strip %>
    </div>
  </div>
  <% end %>
<% end %>
