<% message_bg_class = message.author.is_a?(User) ? "bg-secondary-100 dark:bg-secondary-950" : "bg-secondary-200 dark:bg-secondary-900 shadow-lg" %>
<%= content_tag :div, id: dom_id(message), class: "px-6 py-3 my-3 rounded-md #{message_bg_class}" do %>
  <div>
    <div class="flex justify-start items-start">
      <div class="flex-1 whitespace-prewrap" data-controller="markdown-text">
        <%= raw(message.content) %>
      </div>

      <div class="flex flex-col ms-4 text-right text-secondary-500 dark:text-secondary-400">
        <p class="py-1 text-xs"><%= author_name_for(message) %></p>
        <p class="py-1 text-xs"><%= time_ago_in_words(message.created_at) %> ago</p>
        <%= render "shared/copy_button", content: message.content.strip %>
      </div>
    </div>

    <% if message.prompt %>
      <div class="text-sm text-secondary-600 dark:text-secondary-300 bg-primary-300 dark:bg-primary-900 bg-opacity-50 dark:bg-opacity-50 hover:bg-opacity-75 px-4 py-1 my-1 rounded-md">
        <details>
          <summary>Augmented prompt</summary>
          <div class="whitespace-pre-line">
            <%= message.prompt %>
          </div>
        </details>
      </div>
    <% end %>

    <% if message.statistics.present? %>
      <div class="flex justify-start w-full">
        <div class="text-xs text-secondary-500 dark:text-secondary-400">
          elapsed: <%= message.statistics["elapsed_ms"] %>ms |
          tokens: <%= message.statistics["tokens"] %>ms |
          tokens/s: <%= message.statistics["tokens_per_sec"] %>ms |
          time to first token: <%= message.statistics["time_to_first_token"] %>s |
          server: <%= message.statistics["server"] %> / <%= message.statistics["provider"] %>
        </div>
      </div>
    <% end %>
    <% if message.error.present? %>
      <div class="bg-red-400 text-secondary-950 dark:bg-red-800 dark:text-secondary-200 text-sm rounded-lg px-2">
        <%= message.error["message"] %>
      </div>
    <% end %>
  </div>
<% end %>
