<% message_bg_class = message.author.is_a?(User) ? "bg-secondary-100 dark:bg-secondary-950" : "bg-secondary-200 dark:bg-secondary-900 shadow-lg dark:border dark:border-secondary-800" %>

<% if message.system? %>
  <div class="text-sm text-secondary-600 dark:text-secondary-300 px-4 my-1 rounded-lg border border-secondary-950 dark:border-secondary-800 hover:border-secondary-500 hover:dark:border-secondary-600">
    <div data-controller="toggle-visibility" data-action="click->toggle-visibility#toggle" data-toggle-element-id="system-message" class="cursor-pointer py-2 hover:text-primary-500 w-full text-center">
      System message
    </div>
    <div id="system-message" class="flex flex-col hidden">
<% end %>

<%= content_tag :div, id: dom_id(message), class: "py-3 lg:my-5 rounded-lg #{message_bg_class}" do %>
  <div>
    <div class="flex justify-start items-start px-5">
      <div class="flex-1 w-full text-lg" data-controller="markdown-text">
<!-- this is at the left so the markdown controller doesn't see a bunch of indents; that will change the formatting -->
<%= raw(message.content) %>
      </div>

      <div class="flex flex-col ms-4 text-right text-secondary-500 dark:text-secondary-400 overflow-x-hidden">
        <div class="py-1 text-xs hidden xl:block"><%= author_name_for(message) %></div>
        <div class="py-1 text-xs hidden xl:block"><%= time_ago_in_words(message.created_at) %> ago</div>
        <div class="flex hidden xl:block text-xl text-secondary-500 dark:text-secondary-400">
          <% if message.author.is_a?(ModelConfig) %>
            <div class="hover:text-secondary-700 hover:dark:text-secondary-100"><%= render "shared/regenerate_button", message: %></div>
          <% end %>
          <div class="hover:text-secondary-700 hover:dark:text-secondary-100"><%= render "shared/copy_button", content: message.content.strip %></div>
        </div>
      </div>
    </div>

    <% if message.prompt %>
      <div class="text-sm text-secondary-600 dark:text-secondary-300 border border-secondary-300 dark:border-secondary-800 px-4 my-1 rounded-lg hover:border-secondary-500 hover:dark:border-secondary-600">
          <div data-controller="toggle-visibility" data-action="click->toggle-visibility#toggle" data-toggle-element-id="message-<%= message.id %>-augmentations-card" class="cursor-pointer py-2 hover:text-primary-500 w-full text-center">
            Augmentations
          </div>
          <div id="message-<%= message.id %>-augmentations-card" class="flex flex-col toggle-visibility hidden pb-3">
            <div id="<%= "#{dom_id(message)}-augmentations" %>" class="flex flex-col pt-3">
              <% message.augmentations.each do |augmentation| %>
                <%= render partial_for_augmentation(augmentation), chunk: augmentation.augmentation, entity: augmentation.augmentation, distance: augmentation.distance %>
              <% end %>
            </div>
              <div class="px-3 rounded-lg border border-secondary-300 dark:border-secondary-900 hover:border-secondary-500 hover:dark:border-secondary-600">
                <div data-controller="toggle-visibility" data-action="click->toggle-visibility#toggle" data-toggle-element-id="message-<%= message.id %>-raw" class="cursor-pointer py-2 hover:text-primary-500">Raw prompt</div>
                <div id="message-<%= message.id %>-raw" class="hidden toggle-visibility p-5 whitespace-pre-line">
                  <%= message.prompt %>
                </div>
              </div>
          </div>
      </div>
    <% end %>

    <div class="flex px-5">
      <div class="flex flex-col w-full">
        <% if message.statistics.present? %>
          <div class="flex justify-start w-full py-2">
            <div class="text-xs text-secondary-500 dark:text-secondary-400">
              elapsed: <%= message.statistics["elapsed_ms"] %>ms |
              tokens: <%= message.statistics["tokens"] %> |
              tokens/s: <%= message.statistics["tokens_per_sec"] %>ms |
              time to first token: <%= message.statistics["time_to_first_token"] %>s |
              server: <%= message.statistics["server"] %> / <%= message.statistics["provider"] %>
            </div>
          </div>
        <% end %>
        <% if message.error.present? %>
          <div class="bg-red-400 px-4 text-secondary-950 dark:bg-red-800 dark:text-secondary-200 text-sm rounded-lg px-2">
            <%= message.error["message"] %>
          </div>
        <% end %>
      </div>
      <div class="flex block xl:hidden text-lg p-2 text-secondary-500 dark:text-secondary-400">
        <div class="flex-1"></div>
        <% if message.author.is_a?(ModelConfig) %>
          <div class="ml-2 hover:text-secondary-700 hover:dark:text-secondary-100"><%= render "shared/regenerate_button", message: %></div>
        <% end %>
        <div class="ml-2 hover:text-secondary-700 hover:dark:text-secondary-100"><%= render "shared/copy_button", content: message.content.strip %></div>
      </div>
    </div>
  </div>
<% end %>

<% if message.system? %>
  </div>
</div>
<% end %>
