<div id="<%= dom_id(conversation) %>" class="px-1">
  <%
    bg_class = if selected&.id == conversation.id
      "bg-secondary-300 dark:bg-secondary-700 hover:bg-secondary-400 dark:hover:bg-secondary-500"
    else
      "hover:bg-secondary-300 dark:hover:bg-secondary-700"
    end
  %>
    <div class="container flex overflow-hidden rounded-md w-full p-1 my-2 <%= bg_class %>">
      <div class="flex justify-end pe-1">
        <div class="flex flex-col place-content-center place-items-center">
          <div class="text-xs text-secondary-700 dark:text-secondary-200 px-2 py-1 ms-1 bg-secondary-100 dark:bg-secondary-500 rounded-lg">
            <%= conversation.source || "chat" %>
          </div>
        </div>
      </div>
      <%= link_to conversation, class: "flex-1 w-full truncate" do %>
        <div class="px-2 py-1 truncate">
          <%= conversation.title %>
        </div>
      <% end %>
    <div class="flex justify-end">
      <div class="text-sm text-secondary-700 dark:text-secondary-400 px-1 py-1">
        <%= conversation.messages_count %>
      </div>
      <div class="flex-none mx-1 pl-1">
        <% data = conversation.messages_count.present? && conversation.messages_count.positive? ? { turbo_confirm: 'Are you sure?' } : nil %>
        <%= button_to conversation, method: :delete, form: { data: } do %>
          <i class="fa fa-trash"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
