<div id="conversations" class="overflow-y-scroll no-scrollbar p-5 w-64 h-screen bg-secondary-300 dark:bg-secondary-900 text-secondary-700 dark:text-secondary-100">
  <div class="container flex flex-col items-center h-full">
    <div class="pb-2 w-full font-mono text-2xl font-bold text-center"><%= link_to "ARCHYVE", root_path, class: "text-primary-800 dark:text-primary-400" %></div>
    <%= button_to "New conversation", conversations_path, class: "rounded-lg py-1 px-3 mb-4 my-2 text-center text-secondary-200 dark:text-secondary-950 block font-medium bg-primary-800 dark:bg-primary-400", data: { turbo: false } %>
    <div class="overflow-y-scroll flex-1 no-scrollbar">
      <% conversations.order(created_at: :desc).each do |conversation| %>
        <%= render "conversation_list_item", conversation: %>
      <% end %>
    </div>
    <div class="w-full text-sm font-bold text-center my-1">
      <%= @current_user.email %>
    </div>
    <% if current_user.admin? %>
      <% classes = "rounded-lg py-1 px-3 my-1 text-center text-secondary-900 dark:text-secondary-100 block font-medium border border-primary-800 dark:border-primary-400 w-full hover:bg-secondary-200 hover:dark:bg-secondary-800" %>

      <%= link_to "Admin", "/admin", class: classes %>
      <%= link_to "Sidekiq", "/sidekiq", class: classes %>
    <% end %>
    <div class="w-full">
      <%= link_to "Documents", "/collections", class: "rounded-lg py-1 px-3 my-1 text-center text-secondary-900 block font-medium border border-tertiary-800 dark:text-secondary-100 dark:border-tertiary-400 hover:bg-secondary-200 hover:dark:bg-secondary-800", data: { turbo: false } %>
    </div>
    <div class="w-full">
      <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "w-full font-medium rounded-lg py-1 px-3 my-1 text-center text-primary-200 dark:text-secondary-950 block font-medium bg-primary-800 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300" %>
    </div>
  </div>
</div>
