<div id="conversation">
  <div class="pb-2">
    <%= form_for @conversation do |f| %>
      <%= f.text_field :title, class: "text-xl rounded-md dark:bg-secondary-900", value: @conversation.title, placeholder: "title" %>
      <% if @conversation.messages.any? %>
        <%= f.collection_select(:model_config_id, model_config_list, :id, :name, {}, {
          disabled: true,
          class: "rounded-lg text-secondary-500 bg-secondary-200 dark:text-secondary-400 dark:bg-secondary-800 border-0"
        })%>
      <% else %>
        <%= f.collection_select(:model_config_id, model_config_list, :id, :name, {}, {
          class: "rounded-lg text-secondary-800 bg-secondary-200 dark:text-secondary-200 dark:bg-secondary-800"
        })%>
      <% end %>
      <%= f.submit "Update", class: "rounded-lg py-1 px-3 my-2 text-center text-primary-200 dark:text-primary-950 block font-medium bg-primary-800 dark:bg-primary-500 opacity-75 hover:opacity-70" %>
    <% end %>
  </div>

  <div class="container flex flex-col rounded-lg flex-start">
    <div id="messages">
      <%= render @conversation.messages %>
    </div>
    <%= render "messages/form" %>

  </div>
</div>
