<div id="<%=dom_id(@conversation) %>">
  <div class="pb-2">
    <div class="text-xl"><%= @conversation.title %></div>
    <div class="text-m">Model: <%= @conversation.model_config.name %></div>
  </div>

  <div class="container flex flex-col rounded-lg flex-start">
    <%= render @conversation.messages %>
  </div>

  <% if action_name != "show" %>
    <%= link_to "Show this conversation", @conversation, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this conversation", edit_conversation_path(@conversation), class: "rounded-lg py-3 ml-2 px-5 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
