<div id="<%= dom_id(conversation) %>">
  <%
    bg_class = if selected&.id == conversation.id
      "bg-secondary-300 dark:bg-secondary-600 hover:bg-secondary-400 dark:hover:bg-secondary-500"
    else
      "hover:bg-secondary-300 dark:hover:bg-secondary-700"
    end
  %>
  <div class="container flex rounded-md p-1 <%= bg_class %>">
    <%= link_to conversation, class: "flex-1" do %>
      <div class="px-2 py-1 text-sm">
        <%= conversation.title %>
      </div>
    <% end %>
    <div class="text-sm text-secondary-700 dark:text-secondary-400 px-2 py-1">
      <%= conversation.messages.count %>
    </div>
    <div class="flex-none mx-1">
      <%= button_to conversation, method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}} do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>
  </div>
</div>
