<div id="sidebar" class="hidden lg:block px-5 py-2 w-80 h-screen bg-secondary-200 dark:bg-secondary-900 text-secondary-950 dark:text-secondary-100">
  <div class="container flex flex-col items-center h-full">
    <%= render "shared/title", classes: "text-primary-600 dark:text-primary-400" %>
    <%= button_to "New conversation",
      conversations_path,
      class: "rounded-lg py-2 px-3 mb-4 my-2 text-center text-secondary-950 dark:text-secondary-950 block font-medium bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 hover:dark:bg-primary-300",
      data: { turbo: false }
    %>
    <div class="overflow-y-scroll no-scrollbar flex-1 overflow-x-hidden w-full rounded-lg border border-secondary-300 dark:border-secondary-700">
      <% conversations.order(created_at: :desc).each do |conversation| %>
        <%= render "conversation_list_item", conversation:, selected: %>
      <% end %>
    </div>

    <%= render "filter_form" %>
    <%= render "shared/user_and_settings" %>
    <%= render "shared/admin_buttons" %>
    <%= render "shared/area_buttons" %>
    <%= render "shared/sign_out_button" %>
    <%= render "shared/version" %>
  </div>
</div>
