<div class="w-100">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex w-100">
    <div id="conversations" class="w-64 h-screen bg-indigo-200 text-gray-700 p-5">
      <%= render "conversation_list", conversations: @conversations %>
    </div>

    <div id="conversation_area" class="flex-1 w-100 h-screen bg-gray-100 text-gray-700 overflow-y-scroll p-5">
      <%= turbo_stream_from "conversations" %>
      <div id="conversation" class="h-full overflow-y-scroll">
        <% if @conversation %>
          <%= render @conversation %>
        <% else %>
           <div class="container flex justify-center align-center h-full">
            <%= render "no_conversation" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
