<div class="w-100">
  <div class="flex w-100">
    <%= render "conversation_list", conversations: @conversations %>

    <div id="conversation_area" class="flex-1 w-100 h-screen bg-secondary-200 dark:bg-secondary-950 flextext-gray-700 dark:text-secondary-200 overflow-y-scroll">
      <div class="container flex justify-center align-center w-full">
        <p class="notice text-sm text-secondary-700"><%= notice %></p>
        <p class="alert text-sm text-primary-700"><%= alert %></p>
      </div>

      <%= turbo_stream_from "conversations" %>
      <div id="conversation" class="h-full overflow-y-scroll">
        <% if @conversation %>
          <%= render @conversation %>
        <% else %>
           <div class="container flex justify-center align-center h-full">
            <%= render "no_conversation" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
