<div class="flex">
  <%= render "conversation_list", conversations: @conversations, selected: @conversation %>

  <div class="overflow-y-scroll no-scrollbar flex-1 p-5 h-screen w-100 bg-secondary-100 dark:bg-secondary-950 flextext-gray-700 dark:text-secondary-200">
    <%= render "shared/notice" %>

    <%= turbo_stream_from user_dom_id("conversations") %>
    <div class="m-2 h-full">
      <% if @conversation %>
        <%= render @conversation %>
      <% else %>
          <div class="container flex justify-center h-full align-center">
          <%= render "no_conversation" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
