<div class="flex">
  <%= render "conversation_list", conversations: @conversations %>

  <div id="conversation_area" class="overflow-y-scroll flex-1 p-5 h-screen w-100 bg-secondary-100 dark:bg-secondary-950 flextext-gray-700 dark:text-secondary-200">
    <div class="container flex justify-center w-full align-center">
      <% if notice %>
        <p class="text-sm notice text-secondary-700"><%= notice %></p>
      <% elsif alert %>
        <p class="text-sm alert text-primary-700"><%= alert %></p>
      <% end %>
    </div>

    <%= turbo_stream_from "conversations" %>
    <div class="m-2 h-full">
      <% if @conversation %>
        <%= render @conversation %>
      <% else %>
          <div class="container flex justify-center h-full align-center">
          <%= render "no_conversation" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
