<div id="<%= "#{dom_id(collection)}_list_item" %>">
  <div class="container flex hover:bg-secondary-300 dark:hover:bg-secondary-700 rounded-md p-1">
    <%= link_to collection, class: "flex-1" do %>
      <div class="px-2 py-1 text-sm">
        <%= collection.name %>
      </div>
    <% end %>
    <div class="text-sm text-secondary-700 dark:text-secondary-400 px-2">
      <%= collection.documents.count %>
    </div>
    <div class="flex-none mx-1">
      <%= button_to collection, method: :delete, form: { data: { turbo: false, confirm: "Are you sure?" } } do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>
  </div>
</div>
