<% collection ||= @collection %>
<div id="<%= "#{dom_id(collection)}_list_item" %>">
  <%
    bg_class = if selected && selected.id == collection.id
      "bg-secondary-300 dark:bg-secondary-600 hover:bg-secondary-400 dark:hover:bg-secondary-500"
    else
      "hover:bg-secondary-300 dark:hover:bg-secondary-700"
    end
  %>
  <div class="container flex rounded-md p-1 my-2 items-center <%= bg_class %> w-full" title="<%= collection.name %>">
    <%= link_to collection, class: "flex-1 w-full truncate mx-2" do %>
      <div class="px-2 py-1 truncate">
        <%= collection.name %>
      </div>
    <% end %>
    <% if collection.graph_enabled %>
      <div class="w-4">
        <%= render "shared/icons/graph" %>
      </div>
    <% end %>
    <div class="px-2 py-1 text-sm text-secondary-700 dark:text-secondary-300">
      <%= collection.documents.count %>
    </div>
    <div class="flex-none mx-1">
      <%= button_to collection, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } do %>
                                                 
        <i class="fa fa-trash"></i>
      <% end %>
    </div>
  </div>
</div>
