<% document ||= @document %>
<%= content_tag :div, id: dom_id(document), class: "flex justify-start items-start px-6 py-5 my-2 rounded-md shadow-lg bg-secondary-200 dark:bg-secondary-900" do %>
  <div class="flex-1 whitespace-prewrap">
    <div class="flex flex-col">
      <div class="flex-1">
        <div class="flex items-baseline">
          <div class="pb-2">
            <%= link_to document.filename, collection_document_path(document.collection, document), format: :turbo_stream %>
          </div>
          <% state_bg = state_error?(document) ? "bg-error-400 dark:bg-error-800" : "bg-secondary-300 dark:bg-secondary-700" %>
          <div class="rounded-lg text-xs text-secondary-800 dark:text-secondary-200 mx-2 p-1 px-2 <%= state_bg %>">
            <%= state_text_for(document) %>
          </div>
        </div>
      </div>
      <div class="flex">
        <%= link_to "View", collection_document_path(document.collection, document), class: "rounded-lg bg-secondary-700 dark:bg-secondary-400 text-secondary-100 dark:text-secondary-900 py-1 px-4 disabled:bg-opacity-40 mr-2" %>
        <%= button_to "Reprocess", collection_document_vectorize_path(document.collection, document), class: "rounded-lg bg-tertiary-700 dark:bg-tertiary-400 text-secondary-900 dark:text-tertiary-100 py-1 px-4 disabled:bg-opacity-40" %>
      </div>
    </div>
  </div>
  <div class="flex flex-col ms-4">
    <p class="py-1 text-xs text-right"><%= document.user.email %></p>
    <p class="py-1 text-xs text-right"><%= time_ago_in_words(document.created_at) %> ago</p>
    <div class="flex-none mx-1 text-right">
      <%= button_to collection_document_path(document.collection, document), method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}} do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>
  </div>
<% end %>
