<% entity ||= @entity %>

<div id="<%= dom_id(entity) %>" class="flex justify-start items-start px-6 py-5 my-2 rounded-md shadow-lg bg-secondary-200 dark:bg-secondary-900">
  <div class="flex-1 whitespace-prewrap">
    <div class="flex flex-col">
      <div class="flex items-baseline">
        <div class="pb-4">
          <%= entity.name %>
          <div class="text-sm text-secondary-700 dark:text-secondary-300">
            <%= entity.entity_type %>
          </div>
        </div>
        <% if entity.summary_outdated? %>
          <div class="rounded-lg text-xs text-secondary-800 dark:text-secondary-200 mx-2 p-1 px-2 bg-error-400 dark:bg-error-800">
            <%= summary_label_for(entity) %>
          </div>
        <% end %>
      </div>
      <div class="flex-1">
        <%= entity.summary %>
      </div>
      <div class="flex">
        <!-- buttons go here -->
      </div>
    </div>
  </div>
  <div class="flex flex-col ms-4">
    <p class="py-1 text-xs text-right"><%= entity.collection.name %></p>
    <p class="py-1 text-xs text-right"><%= time_ago_in_words(entity.created_at) %> ago</p>
    <p class="py-1 text-xs text-right"><%= entity.relationship_count %> relationships</p>
    <p class="py-1 text-xs text-right"><%= entity.descriptions.count %> descriptions</p>
    <div class="flex-none mx-1 text-right">
      <!-- TODO: add controller with #summarize action -->
      <% hover_text = entity.summary.present? ? "Regenerate summary" : "Generate summary" %>
      <i class="fa fa-refresh" title="<%= hover_text %>"></i>
    </div>
  </div>
</div>
