<div class="flex w-full px-10 pb-5 justify-center text-sm">
  <div class="px-3"><strong><%= time_ago_in_words(@document.created_at) %></strong> old</div>
  <div class="px-3"><strong><%= @document.chunks.count %></strong> Chunks</div>
  <div class="px-3">Chunking method: <strong><%= @document.chunking_profile&.method %></strong></div>
  <div class="px-3">Chunk size: <strong><%= @document.chunking_profile&.size %></strong></div>
  <div class="px-3">Chunk overlap: <strong><%= @document.chunking_profile&.overlap %></strong></div>
  <div class="px-3 text-tertiary-700 dark:text-tertiary-600 hover:underline">
    <%= link_to "Download", rails_blob_path(@document.file.blob, disposition: 'attachment') %>
  </div>
  <!-- TODO: add page count, chunking profile, document size, download link -->
</div>
