<div class="flex">
  <%= render "shared/collection_list", collections: @collections %>

  <div id="collection_area" class="overflow-y-scroll flex-1 h-screen bg-secondary-200 dark:bg-secondary-950 flextext-gray-700 dark:text-secondary-200">
    <%= render "shared/notice" %>

    <%= turbo_stream_from dom_id(@document) %>
      <div class="flex flex-col h-full w-full items-center align-middle m-2">
        <div class="p-4 text-lg font-semibold text-secondary-900 dark:text-secondary-100">
          <%= @document.filename %>
        </div>
        <%= render "info" %>
        <div class="flex-1">
          <%= render "chunks", chunks: @chunks %>
          <%= render partial: "next_page" %>
        </div>
        <!-- add document search form when searching a single doc is supported -->
      </div>
    </div>
  </div>
</div>
