<div class="flex">
  <%= render "shared/collection_list", collections: @collections, selected: @document.collection %>

  <div id="collection_area" class="overflow-y-scroll no-scrollbar flex-1 h-screen bg-secondary-100 dark:bg-secondary-950 flextext-gray-700 dark:text-secondary-200">
    <%= render "shared/notice" %>

    <%= turbo_stream_from dom_id(@document) %>
      <div class="flex flex-col h-full w-full items-center align-middle">
        <div class="py-8 flex justify-between items-baseline w-3/4">
          <div class="flex flex-col pb-8">
            <div class="text-lg font-semibold text-secondary-900 dark:text-secondary-100"><%= title_for(@document) %></div>
            <% if @document.web? %>
              <div class="text-sm text-tertiary-700 dark:text-tertiary-600 hover:underline">
                <%= link_to @document.link.truncate(120), @document.link, target: "top" %>
              </div>
            <% end %>
          </div>
          <%= link_to "Back to collection",
            collection_path(@document.collection),
            class: "rounded-lg ml-auto py-1 mb-4 px-3 my-2 text-secondary-200 dark:text-secondary-950 font-medium bg-tertiary-600 dark:bg-tertiary-400"
          %>
        </div>
        <%= render "info" %>
        <div class="w-full">
          <%= render "chunks", chunks: @chunks %>
          <%= render partial: "next_page" %>
        </div>
        <!-- add document search form when searching a single doc is supported -->
      </div>
    </div>
  </div>
</div>
