<div id="<%= dom_id(chunk) %>">
  <% selected ||= false %>
  <% extra_classes = selected ? "border-secondary-400 dark:border-secondary-300 border border-2" : "" %>

  <div class="flex items-center px-6 py-5 my-3 rounded-md shadow-lg bg-secondary-200 dark:bg-secondary-900 <%= extra_classes %>">
    <div class="pr-10 flex-col">
      <%= chunk.id %>
      <p class="py-1 text-xs text-right text-muted"><%= chunk ? number_to_human_size(chunk.content.size) : "?" %></p>
    </div>
    <div class="flex-1">
      <p><%= chunk.content %></p>
      
    </div>
  </div>
</div>
